@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";


.MyFont{
  font-family: var(--font-Montserrat);
}
/* Dark Mode */
html {
  transition: background-color 0.2s ease, color 0.2s ease;
}
.light{
  background-color: rgb(240, 240, 240);
}
.dark{
  background-color: rgb(28, 28, 27);
  color:rgb(238, 244, 250);
}
.Special{
  background-color: rgb(255, 255, 255);
}
.dark .Special{
  background-color: rgb(37, 37, 37);
}

/* SkeletonTheme */
:root {
  --skeleton-base: #e5e7eb;
  --skeleton-highlight: #f3f4f6;
}

.dark {
  --skeleton-base: #212325;
  --skeleton-highlight: #374151;
}
/* Currency Converter */
/* إزالة الأسهم من input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Close{
  clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
  transition: all 0.3s ease;
}
.Open{
  clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
   transition: all 0.3s ease;
}
/* Conversion History */
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* Table */
.Rotate:hover {
  transform: rotate(180deg);
}
